html{
    scroll-behavior: smooth;
 }

 /* <Scrollbar> */

        /* Width */
        ::-webkit-scrollbar {
            width: 13px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            opacity: 0.1;
            background: rgb(30, 30, 30);
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgb(45, 45, 45);
            opacity: 0;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(65, 65, 65);
        }

        /* </Scrollbar> */   

.bg-azul-nba{
    background-color: #17408B;
}

.text-azul-nba{
    color:#17408B;
}

.bg-gradiente{
    background: rgb(52,58,64);
background: linear-gradient(0deg, rgba(52,58,64,1) 0%, rgba(255,255,255,1) 100%);
}
.bg-gradiente-2{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 25%, rgba(23,64,139,1) 100%);
}
.bg-amarelo-nba{
    background-color:#F9A214;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center{
    align-items: center;
}

.text-nba{
    font-family: helvetica;
}

.text-nba-content{
    font-family: helvetica;
    text-align: justify;
    color: white;
}

.text-nba-center{
    font-family: helvetica;
    text-align: center;
    color: white;
}



.center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-titulo-white{
    color: white;
    font-family: helvetica;
}

.control-btn{
    width:30px;
    height: 30px;
}

.event-sombra{
 transition: all 0.5s;
}

.event-sombra:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.time-modal{
    width: 125px;
    height: 8rem;
    margin-left: 10px;
    overflow: hidden;
}

.time-modal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Cores com efeito */
.bg-efeito-azul-nba{
    background-color: #17408B;
}

.bg-efeito-azul-nba:hover{
    background-color: #123474;
}

.bg-efeito-amarelo-nba{
    background-color: #F9A214;
}

.bg-efeito-amarelo-nba:hover{
    background-color: #f9a114d2;
}


/* Teste cards */

.card-bulls-principal{
    background-color: #000000;
    color: white;
}

.card-bulls-principal:hover {
    background-color: #cf093ebe;
}

.btn-bulls-principal{
    background-color: #ffffff5e;
    color: white;
}

.card-bulls-principal:hover .btn-bulls-principal{
    background-color: #000000;
}

.card-bulls-principal:hover .card-footer{
    background-color: #000000;
}

/* ////////////////////////////////////////////////////////////////////////////// */

.card-lakers-principal{
    background-color: #000000;
    color: white;
}

.card-lakers-principal:hover {
   background-color: #fdbb21;
   color: black;
}

.btn-lakers-principal{
    background-color: #ffffff5e;
    color: white;
}

.card-lakers-principal:hover .btn-lakers-principal{
    background-color: #471572d2;
}

.card-lakers-principal:hover .card-footer{
    background-color: #471572d2;
    color: white
}

/* ////////////////////////////////////////////////////////////////////////////// */

.card-lakers-secundario{
    background-color: #000000;
    color: white;
}

.card-lakers-secundario:hover {
   background-color: #471572d2;
   
}

.btn-lakers-secundario{
    background-color: #ffffff5e;
    color: white;
}

.card-lakers-secundario:hover .btn-lakers-secundario{
    background-color: #fdbb21;
}

/* ////////////////////////////////////////////////////////////////////////////// */

.card-celtics-principal{
    background-color: #000000;
    color: white;
}

.card-celtics-principal:hover {
   background-color: #008348d5;
}

.btn-celtics-principal{
    background-color: #ffffff5e;
    color: white;
}

.card-celtics-principal:hover .btn-celtics-principal{
    background-color: #A8342E;
}

.card-celtics-principal:hover .card-footer{
    background-color: #A8342E;
}
/* ////////////////////////////////////////////////////////////////////////////// */
.card-golden-principal{
    background-color: #000000;
    color: white;
}

.card-golden-principal:hover {
   background-color: #006BB8;
}

.btn-golden-principal{
    background-color: #ffffff5e;
    color: white;
}

.card-golden-principal:hover .btn-celtics-principal{
    background-color: #FDBA21;
}

.card-golden-principal:hover .card-footer{
    background-color: #FDBA21;
}